.header__container {
	width: 89%;
	margin: 0 auto;
	text-align: center;
	height: 100%;
	position: relative;
}

/* ========= HV ============== */

.downloads {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

/* ============= Redes sociales ======== */

.header__socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	position: absolute;
	left: 0;
	bottom: 3rem;
}

.header__socials::after {
	content: '';
	width: 1px;
	height: 2rem;
	background: var(--color-primary);
}

.scroll__down {
	position: absolute;
	right: -2.3rem;
	bottom: 5rem;
	transform: rotate(90deg);
	font-weight: 300;
	font-size: 0.9rem;
}

/* ============= Responsive  ============= */

@media screen and (max-width: 768px) {
	section {
		margin-top: 7rem;
	}
}

@media screen and (max-width: 600px) {
	.header__socials,
	.scroll__down {
		display: none;
	}
}

@media screen and (max-width: 417px) {
	.header__socials,
	.scroll__down {
		display: none;
	}
	.downloads {
		margin-top: 2rem;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 320px) {
	.downloads {
		margin-top: 2rem;
		flex-direction: column;
		align-items: center;
	}
}
